$bg:#f5f5f5;
$paragraph: #2A2924;
$heading: #3A3934;
$textShadow: rgba(0,0,0,.25);

$red: #f0427c;
$redDark: #e0326c;
$yellow: #F8B73E;
$yellowDark: #e8a72E;
$green: #40bf80;
$greenDark: #30af70;
$blue: #33b2cc;
$blueDark: #23a2bc;
$purple: #bc79ec;
$purpleDark: #ac69dc;
$gray: #3A3934;
$grayDark: #2A2924;
